SECRET_KEY=django-insecure-change-this-to-50-random-chars-in-production
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_EMAIL_DOMAIN=ogilvylk.com
SUPER_ADMIN_EMAILS=superadmin@ogilvylk.com
