streamlit>=1.43.0
pandas>=2.2.0
numpy>=2.2.0
fuzzywuzzy>=0.18.0
python-Levenshtein>=0.27.1  # Enhances fuzzywuzzy performance
plotly>=6.0.0
openpyxl>=3.1.5
fpdf>=1.7.2
# Optional but useful for reading Excel files with different formats
xlrd>=2.0.1